@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 50% 96.1%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 255 75% 95%;
    --primary-foreground: 255 85.7% 20%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 180 100% 25.1%;
    --accent-foreground: 180 100% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 255 75% 95%;
    --radius: 0.75rem;

    --chart-1: 255 75% 95%;
    --chart-2: 180 100% 25.1%;
    --chart-3: 180 50% 60%;
    --chart-4: 40 50% 60%;
    --chart-5: 280 50% 60%;
    
    --sidebar-background: 240 10% 3.9%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 340 90% 70%;
    --sidebar-primary-foreground: 340 100% 10%;
    --sidebar-accent: 340 20% 15%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 340 90% 70%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 5% 8%;
    --card-foreground: 0 0% 98%;
    --popover: 240 5% 8%;
    --popover-foreground: 0 0% 98%;
    --primary: 255 75% 95%;
    --primary-foreground: 255 85.7% 20%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 180 100% 25.1%;
    --accent-foreground: 180 100% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 255 75% 95%;

    --chart-1: 255 75% 95%;
    --chart-2: 180 100% 25.1%;
    --chart-3: 180 50% 70%;
    --chart-4: 40 50% 70%;
    --chart-5: 280 50% 70%;

    --sidebar-background: 240 10% 3.9%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 340 90% 70%;
    --sidebar-primary-foreground: 340 100% 10%;
    --sidebar-accent: 340 20% 15%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 340 90% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}
